/* --------------mobile--------------------- */

@media screen and (min-width: 375px) {
    .container {
        max-width: 375px;
    }

    .price-list {
        width: 343px;
    }
}

/* --------------tablet------------------- */

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}