.clients-reviews-section {
    padding-left: 16px;
    padding-right: 16px;
}

.clients-reviews-title {
    text-align: center;
}

.clients-reviews-list {
    width: 100%;
    display: flex;
    margin: 0 auto;
    outline: 1px solid red;
}

.clients-reviews-item {
    max-width: 343px;
    width: 100%;
}

.clients-reviews-first {}

.clients-reviews-second {
    display: none;
}

.clients-reviews-third {
    display: none;
}


@media screen and (min-width: 375px) {
    .clients-reviews-section {
        padding-left: 16px;
        padding-right: 16px;
    }

    .clients-reviews-list {
        max-width: 343px;
        width: 100%;
    }
}

@media screen and (min-width: 768px) {
    .clients-reviews-section {
        padding-left: 16px;
        padding-right: 16px;
    }

    .clients-reviews-list {
        max-width: 704px;
        width: 100%;
        gap: 16px;
    }

    .clients-reviews-second {
        display: block;
    }
}

@media screen and (min-width: 1440px) {
    .clients-reviews-section {
        padding-left: 16px;
        padding-right: 16px;
    }

    .clients-reviews-list {
        max-width: 1320px;
        width: 100%;
        gap: 240px;
    }

    .clients-reviews-third {
        display: block;
    }
}
}